@import modules.auth.Authorizer

@import models.auth.UserDetails
@()(implicit authorizer: Authorizer, requestHeader: RequestHeader)
@profile = @{authorizer.user.getOrElse(UserDetails("anonymous"))}

<div class="container">
    <h2 class="mb-3">Personal information</h2>
    <p>Here is a list of the information we keep about your profile:</p>
    <ul>
        <li>Id: '@profile.id'</li>
        <li>Name: '@profile.name'</li>
        <li>Username: '@profile.username'</li>
        <li>Email: '@profile.email'</li>
        <li>Access token (for API access): <button onclick="copyToken()">Copy to clipboard</button></li>
    </ul>
</div>

<script>
        function copyToken() {
            const token = '@profile.accessToken.getOrElse("-")'

            /* Copy the text inside the text field */
            navigator.clipboard.writeText(token);

            /* Alert the copied text */
            alert("Access token copied token to clipboard. You can use it for accessing the API, but do NOT share it with anyone.");
        }
</script>