@(version: String)

<h3>NQS Server</h3>
<p>(@version)</p>
<div>
    <span>Some useful links:</span>
    <ul>
        <li><a href="@routes.WidgetsController.nqsWidget()">UI (generic)</a></li>
        <li><a href="https://gitlab.com/uit-sfb/nextflow-queuer">Gitlab</a></li>
        <li><a href="@routes.HomeController.api()">API</a></li>
        <li><a href="@routes.HomeController.identity()">Log in (get access token)</a></li>
    </ul>
</div>