@(apiUrl: String, accessToken: Option[String])

@main("NQS") {
<div id="entrypoint"></div>
<script>
        new NqsWidget("", "").renderInto("entrypoint", "default", "", "@apiUrl", "@accessToken.getOrElse("")", "", "");
</script>
}